* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  font-size: 62.25%;
}

body {
  padding-bottom: 0;
  font-family: "Plus Jakarta Sans";
  background-color: #f2f2f2;
}

a:link,
a:visited {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.8rem;
  padding: 1.6rem;
}

.logo {
  width: 8.9rem;
  height: 3.5rem;
}

.header-cto:link,
.header-cto:visited {
  background-color: #13183f;
  color: #fff;
  width: 14rem;
  height: 4.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-courses,
.section-landing {
  padding: 1.8rem;
}

.section-landing {
  margin-bottom: 6.6rem;
}

.landing-title {
  color: #13183f;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 0 0.4rem 0.5rem #aaa;
  margin-bottom: 2.6rem;
}

.landing-statement {
  font-size: 1.6rem;
  color: #83869a;
  font-weight: 500;
  margin-bottom: 2.4rem;
  line-height: 2.6rem;
}

.landing-cto:link {
  background: linear-gradient(#ff6f48, #f02aa6);
  padding: 2rem 3.5rem;
  border-radius: 5rem;
  margin-bottom: 4.6rem;
}

.img-box {
  width: 100%;
  height: 30.1rem;
  /* overflow: hidden; */
  position: relative;
  z-index: -1;
}

.landing-img-mobile {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-img-tablet {
  display: none;
}

.landing-img-desktop {
  display: none;
}

.section-courses {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 8rem;
}

.section-courses p:first-child {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 3rem 3rem;
  background: linear-gradient(#ff6f48, #f02aa6);
  border-radius: 10px;
  line-height: 3.2rem;
}

.course-card {
  padding: 0 3rem;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
}

.course-icon {
  position: absolute;
  left: 3rem;
  transform: translateY(-50%);
}

.course-name {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.course-description {
  color: #83869a;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 3rem;
}

.card-cto:link,
.card-cto:visited {
  color: #ffa7c3;
  margin-bottom: 3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 1.6rem;
  background-color: #13183f;
}

.footer-cto:link,
.footer-cto:visited {
  background: linear-gradient(#4851ff, #f02aa6);
  width: 14rem;
  height: 4.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  header,
  .section-courses,
  .section-landing {
    padding: 3rem;
  }

  .section-landing {
    display: flex;
    margin-bottom: 12rem;
  }

  .landing-statement {
    padding-right: 20px;
  }

  .hero {
    width: 60%;
  }

  .img-box {
    width: 40%;
  }

  .landing-img-mobile {
    display: none;
  }

  .landing-img-tablet {
    display: block;
    position: absolute;
    top: -25rem;
    right: -32rem;
  }

  .section-courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-courses p:first-child {
    padding-top: 5.5rem;
  }

  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1440px) {
  header,
  .section-courses,
  .section-landing {
    padding-left: 13.5rem;
    padding-right: 13.5rem;
  }

  .logo {
    width: 11.1rem;
    height: 2.76rem;
  }

  a:link,
  a:visited {
    font-size: 1.8rem;
  }

  .header-cto:link,
  .header-cto:visited {
    width: 16.74rem;
    height: 5.6rem;
  }

  header {
    margin-bottom: 10.5rem;
    /* position: relative; */
  }

  .header-cto:hover {
    background-color: #13183f99;
  }

  .section-landing {
    margin-bottom: 18rem;
  }

  .hero {
    width: 40%;
  }

  .landing-title {
    font-size: 5.6rem;
    margin-bottom: 2.9rem;
  }

  .landing-statement {
    margin-bottom: 4rem;
  }

  .landing-img-tablet {
    display: none;
  }

  .landing-img-desktop {
    display: block;
    position: absolute;
    top: -40rem;
    right: -80rem;
  }

  .landing-cto:hover {
    background: linear-gradient(#ff6f4899, #f02aa699);
  }

  .section-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-courses p:first-child {
    font-size: 3.2rem;
  }

  .footer-cto:hover {
    filter: brightness(0.85);
  }
}
